@use "sass:map";
$textColor: yellow;
$bgColor: lighten(black, 15%);

@mixin init {
    /*将各种标签的内外边距初始化为0*/
    body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
    /*配置全局文本，adjust文本适配手机*/ 
    body{font:12px"宋体","Arial Narrow",HELVETICA;color:$textColor;background:$bgColor;-webkit-text-size-adjust:100%;} 
    /*初始化超链接样式*/
    a{color:#2d374b;text-decoration:none}
    /*初始化超链接移入样式*/
    a:hover{color:#cd0200;text-decoration:underline}
    /*删除li样式。如文字前面的· */
    li{list-style:none} 
    /*初始化图片 图片与文字垂直居中*/
    img{border:0;vertical-align:middle} 
    /*初始化表格*/
    table{border-collapse:collapse;border-spacing:0}
    /*初始自动换行*/
    p{word-wrap:break-word} 
}

@include init()
